@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --spacing-safe: env(safe-area-inset-bottom);
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}
